{% extends 'base.html' %}

{% block title %}
Eliminar Post
{% endblock %}

{% block heading %}
⚠️ Eliminar Post
{% endblock %}

{% block content %}

<div class="delete-card">

    <p class="warning-text">
        ¿Seguro que deseas eliminar el post?
    </p>

    <h2>"{{ object.title }}"</h2>

    <form method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            🗑 Confirmar Eliminación
        </button>
    </form>

    <a href="{% url 'core:post_list' %}" class="btn">
        ← Cancelar
    </a>

</div>

{% endblock %}