{% extends 'base.html' %}

{% block title %}
Lista de Posts
{% endblock %}

{% block heading %}
Posts Publicados
{% endblock %}

{% block content %}

{% for post in object_list %}
<div class="post-card">

    <h2>{{ post.title|upper }}</h2>

    <p>
        <strong>Autor:</strong> {{ post.author.name }}
    </p>

    <p>
        {{ post.content|truncatewords:20 }}
    </p>

    <div class="actions">
        <a href="{% url 'core:post_detail' post.pk %}" class="btn">
            Ver detalle
        </a>

        <a href="{% url 'core:post_update' post.pk %}" class="btn">
            Editar
        </a>

        <a href="{% url 'core:post_delete' post.pk %}" class="btn">
            Eliminar
        </a>
    </div>

</div>
{% empty %}
<p>No hay publicaciones disponibles.</p>
{% endfor %}
<div class="create-post-container">
    <a href="{% url 'core:post_create' %}" class="btn btn-create">
        ✨ Crear Nuevo Post
    </a>
</div>
{% endblock %}