{% extends 'base.html' %}

{% block title %}
Lista de Posts
{% endblock %}

{% block content %}
<h1>Posts publicados</h1>

<!-- Listado de publicaciones -->

{% for post in object_list %}
<div>
    <!-- Título del post -->
    <h2>{{ post.title|upper }}</h2>

    <!-- Autor -->
    <p>
        Autor: {{ post.author.name }}
    </p>

    <!-- Contenido -->
    <p>
        {{ post.content|truncatewords:20 }}
    </p>

    <!-- Enlace para ir a la plantilla post_detail -->
    <a href="{% url 'core:post_detail' post.pk %}">
        Ver detalle
    </a>

    <!-- Enlace para ir a la plantilla post_update -->
    <a href="{% url 'core:post_update' post.pk %}">
        Editar
    </a>

    <!-- Enlace para ir a la plantilla post_delete -->
    <a href="{% url 'core:post_delete' post.pk %}">
        Eliminar
    </a>
</div>

<hr>
{% empty %}
<p>No hay publicaciones disponibles.</p>
{% endfor %}

{% endblock %}