{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Biblioteca Virtual{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">

        <div class="icon">
            {% block icon %}
            📚
            {% endblock %}
        </div>

        <h1>
            {% block heading %}
            Biblioteca Virtual
            {% endblock %}
        </h1>

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>